USE [master]
GO
/****** Object:  Database [QUANLYDETAI]    Script Date: 12/18/2020 12:51:56 AM ******/
CREATE DATABASE [QUANLYDETAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYDETAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYDETAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYDETAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QUANLYDETAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYDETAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYDETAI]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[maAccount] [int] NOT NULL,
	[tenAccount] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[Phone] [varchar](10) NULL,
	[maTypeAccount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIENBANNGHIEMTHU]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIENBANNGHIEMTHU](
	[maBienBan] [int] NOT NULL,
	[maHoiDong] [int] NULL,
	[tongDiem] [int] NULL,
	[nhanXet] [varchar](max) NULL,
	[linkBienBan] [varchar](max) NULL,
	[maDeTai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBienBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONXINGIAHAN]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONXINGIAHAN](
	[maCTDXGH] [int] NOT NULL,
	[ngayGiaHan] [date] NULL,
	[ngayHoanThanh] [date] NULL,
	[maDonXinGiaHan] [int] NULL,
	[isAccept] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maCTDXGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAI](
	[maDeTai] [int] NOT NULL,
	[tenDeTai] [varchar](255) NULL,
	[ngayThucHien] [date] NULL,
	[linhVuc] [varchar](255) NULL,
	[capDo] [varchar](50) NULL,
	[ketQua] [varchar](10) NULL,
	[maTrangThai] [int] NULL,
	[maGiangVien] [int] NULL,
	[maHoiDong] [int] NULL,
	[linkDeTai] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONXINGIAHAN]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONXINGIAHAN](
	[maDonXinGiaHan] [int] NOT NULL,
	[maGiangVien] [int] NULL,
	[maCTDXGH] [int] NULL,
	[maDeTai] [int] NULL,
	[linkDonXin] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonXinGiaHan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[maGiangVien] [int] NOT NULL,
	[tenGiangVien] [varchar](255) NULL,
	[Nganh] [varchar](50) NULL,
	[maHopDong] [int] NULL,
	[maAccount] [int] NULL,
	[maKhoa] [int] NULL,
	[trinhDo] [varchar](50) NULL,
	[ngaySinh] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOIDONGNGHIEMTHU]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONGNGHIEMTHU](
	[maHoiDong] [int] NOT NULL,
	[chuTichHoiDong] [varchar](255) NULL,
	[phanBien1] [varchar](255) NULL,
	[phanBien2] [varchar](255) NULL,
	[thuKi] [varchar](255) NULL,
	[ngayNghiemThu] [date] NULL,
	[maKhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoiDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[maHopDong] [int] NOT NULL,
	[tenHopDong] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[maKhoa] [int] NOT NULL,
	[tenKhoa] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI](
	[maTrangThai] [int] NOT NULL,
	[tenTrangThai] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPEACCOUNT]    Script Date: 12/18/2020 12:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEACCOUNT](
	[maTypeAccount] [int] NOT NULL,
	[tenTypeAccount] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTypeAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([maAccount], [tenAccount], [Email], [password], [Phone], [maTypeAccount]) VALUES (1, N'NGUYEN THANH DAT', N'datnguyen777@gmail.com', N'1', N'0945135184', 1)
INSERT [dbo].[ACCOUNT] ([maAccount], [tenAccount], [Email], [password], [Phone], [maTypeAccount]) VALUES (2, N'THANH LAM', N'thanhlam@gmail.com', N'1', N'0913758984', 1)
INSERT [dbo].[ACCOUNT] ([maAccount], [tenAccount], [Email], [password], [Phone], [maTypeAccount]) VALUES (3, N'DUY BAO', N'duybao@gmail.com', N'1', N'0782856984', 2)
INSERT [dbo].[BIENBANNGHIEMTHU] ([maBienBan], [maHoiDong], [tongDiem], [nhanXet], [linkBienBan], [maDeTai]) VALUES (1, 1, 75, N'good', NULL, 1)
INSERT [dbo].[BIENBANNGHIEMTHU] ([maBienBan], [maHoiDong], [tongDiem], [nhanXet], [linkBienBan], [maDeTai]) VALUES (2, 1, 67, N'OK', NULL, 2)
INSERT [dbo].[BIENBANNGHIEMTHU] ([maBienBan], [maHoiDong], [tongDiem], [nhanXet], [linkBienBan], [maDeTai]) VALUES (3, 1, 90, N'OUTSTANDING', NULL, 3)
INSERT [dbo].[CHITIETDONXINGIAHAN] ([maCTDXGH], [ngayGiaHan], [ngayHoanThanh], [maDonXinGiaHan], [isAccept]) VALUES (1, CAST(N'2018-01-03' AS Date), CAST(N'2020-05-06' AS Date), 1, 1)
INSERT [dbo].[DETAI] ([maDeTai], [tenDeTai], [ngayThucHien], [linhVuc], [capDo], [ketQua], [maTrangThai], [maGiangVien], [maHoiDong], [linkDeTai]) VALUES (1, N'TRI TUE NHAN TAO', CAST(N'2018-01-01' AS Date), N'AI', N'KHOA', N'DAT', 2, 3, 1, NULL)
INSERT [dbo].[DETAI] ([maDeTai], [tenDeTai], [ngayThucHien], [linhVuc], [capDo], [ketQua], [maTrangThai], [maGiangVien], [maHoiDong], [linkDeTai]) VALUES (2, N'MANG XA HOI CHO MEO', CAST(N'2020-05-06' AS Date), N'PHAN MEM', N'KHOA', N'DAT', 2, 1, 1, NULL)
INSERT [dbo].[DETAI] ([maDeTai], [tenDeTai], [ngayThucHien], [linhVuc], [capDo], [ketQua], [maTrangThai], [maGiangVien], [maHoiDong], [linkDeTai]) VALUES (3, N'MACH DEN CAY THONG NOEL', CAST(N'2019-10-12' AS Date), N'KTMT', N'KHOA', N'DAT', 2, 2, 1, NULL)
INSERT [dbo].[DONXINGIAHAN] ([maDonXinGiaHan], [maGiangVien], [maCTDXGH], [maDeTai], [linkDonXin]) VALUES (1, 1, 1, NULL, N'1')
INSERT [dbo].[GIANGVIEN] ([maGiangVien], [tenGiangVien], [Nganh], [maHopDong], [maAccount], [maKhoa], [trinhDo]) VALUES (1, N'NGOC TIN', N'CONG NGHE PHAN MEM', 1, 1, 1, N'GIAO SU')
INSERT [dbo].[GIANGVIEN] ([maGiangVien], [tenGiangVien], [Nganh], [maHopDong], [maAccount], [maKhoa], [trinhDo]) VALUES (2, N'VAN LAM', N'KY SU KTMT', 2, 1, 2, N'THAC SI')
INSERT [dbo].[GIANGVIEN] ([maGiangVien], [tenGiangVien], [Nganh], [maHopDong], [maAccount], [maKhoa], [trinhDo]) VALUES (3, N'RONALDO', N'KY SU KHMT', 3, 1, 3, N'TIEN SI')
INSERT [dbo].[HOIDONGNGHIEMTHU] ([maHoiDong], [chuTichHoiDong], [phanBien1], [phanBien2], [thuKi], [ngayNghiemThu], [maKhoa]) VALUES (1, N'THANH LAM', N'NGUYEN THANH DAT', N'VAN LAM', N'DUY BAO', CAST(N'2020-07-06' AS Date), 1)
INSERT [dbo].[HOPDONG] ([maHopDong], [tenHopDong]) VALUES (1, N'BIEN CHE')
INSERT [dbo].[HOPDONG] ([maHopDong], [tenHopDong]) VALUES (2, N'HOP DONG')
INSERT [dbo].[HOPDONG] ([maHopDong], [tenHopDong]) VALUES (3, N'THINH GIANG')
INSERT [dbo].[KHOA] ([maKhoa], [tenKhoa]) VALUES (1, N'CONG NGHE PHAN MEM')
INSERT [dbo].[KHOA] ([maKhoa], [tenKhoa]) VALUES (2, N'KY THUAT MAY TINH')
INSERT [dbo].[KHOA] ([maKhoa], [tenKhoa]) VALUES (3, N'KHOA HOC MAY TINH')
INSERT [dbo].[TRANGTHAI] ([maTrangThai], [tenTrangThai]) VALUES (1, N'DA NOP')
INSERT [dbo].[TRANGTHAI] ([maTrangThai], [tenTrangThai]) VALUES (2, N'DA CHAM')
INSERT [dbo].[TRANGTHAI] ([maTrangThai], [tenTrangThai]) VALUES (3, N'HUY BO')
INSERT [dbo].[TYPEACCOUNT] ([maTypeAccount], [tenTypeAccount]) VALUES (1, N'GiangVien')
INSERT [dbo].[TYPEACCOUNT] ([maTypeAccount], [tenTypeAccount]) VALUES (2, N'CanBo')
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD FOREIGN KEY([maTypeAccount])
REFERENCES [dbo].[TYPEACCOUNT] ([maTypeAccount])
GO
ALTER TABLE [dbo].[BIENBANNGHIEMTHU]  WITH CHECK ADD FOREIGN KEY([maDeTai])
REFERENCES [dbo].[DETAI] ([maDeTai])
GO
ALTER TABLE [dbo].[BIENBANNGHIEMTHU]  WITH CHECK ADD FOREIGN KEY([maHoiDong])
REFERENCES [dbo].[HOIDONGNGHIEMTHU] ([maHoiDong])
GO
ALTER TABLE [dbo].[CHITIETDONXINGIAHAN]  WITH CHECK ADD FOREIGN KEY([maDonXinGiaHan])
REFERENCES [dbo].[DONXINGIAHAN] ([maDonXinGiaHan])
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD FOREIGN KEY([maGiangVien])
REFERENCES [dbo].[GIANGVIEN] ([maGiangVien])
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD FOREIGN KEY([maHoiDong])
REFERENCES [dbo].[HOIDONGNGHIEMTHU] ([maHoiDong])
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD FOREIGN KEY([maTrangThai])
REFERENCES [dbo].[TRANGTHAI] ([maTrangThai])
GO
ALTER TABLE [dbo].[DONXINGIAHAN]  WITH CHECK ADD FOREIGN KEY([maDeTai])
REFERENCES [dbo].[DETAI] ([maDeTai])
GO
ALTER TABLE [dbo].[DONXINGIAHAN]  WITH CHECK ADD FOREIGN KEY([maGiangVien])
REFERENCES [dbo].[GIANGVIEN] ([maGiangVien])
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD FOREIGN KEY([maAccount])
REFERENCES [dbo].[ACCOUNT] ([maAccount])
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD FOREIGN KEY([maHopDong])
REFERENCES [dbo].[HOPDONG] ([maHopDong])
GO
ALTER TABLE [dbo].[GIANGVIEN]  WITH CHECK ADD FOREIGN KEY([maKhoa])
REFERENCES [dbo].[KHOA] ([maKhoa])
GO
ALTER TABLE [dbo].[HOIDONGNGHIEMTHU]  WITH CHECK ADD FOREIGN KEY([maKhoa])
REFERENCES [dbo].[KHOA] ([maKhoa])
GO
USE [master]
GO
SELECT *FROM TRANGTHAI
UPDATE TRANGTHAI SET tenTrangThai='Da Dang Ki' WHERE maTrangThai='1'
UPDATE TRANGTHAI SET tenTrangThai='Da Duyet' WHERE maTrangThai='2'
UPDATE TRANGTHAI SET tenTrangThai='Da Huy' WHERE maTrangThai='3'
